@use 'reset' as *;
@use 'colors' as *;

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calc {
    display: grid;
    grid-template-rows: 2fr 4fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "result"
        "btns";
    width: 400px;
    height: 600px;
    padding: 25px;
    background-color: $bg;

    &__result {
        position: relative;
        grid-area: result;

        &-span {
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 7rem;
            font-weight: 300;
        }
    }

    &__btns {
        display: grid;
        grid-area: btns;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(4, 1fr);

        .btn-func {
            background-color: $btn-func;


            &:hover {
                background-color: $btn-active;
            }
        }

        .btn-math {
            background-color: $btn-math;
            color: #fff;

            &:hover {
                color: $btn-math;
                background-color: $btn-active;
            }
        }

        .btn-numbers {
            background-color: $btn;
            color: #fff;

            &:hover {
                background-color: $btn-func;
            }
        }

        #btnZero {
            width: 100%;
            border-radius: 40px;
            grid-column: 1/3;
        }
    }

    &__btn {
        width: 60px;
        height: 60px;
        align-self: center;
        justify-self: center;
        border-radius: 50%;
        font-size: 2.5rem;
        border: none;
        transition: .2s background-color;
    }
}